.pagination {
  display: flex;
  justify-content: space-between;
  width: 200px;
  text-align: center;
  margin: auto;
  align-items: center;
}

.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  width: 100px;
}

.pagination ul li {
  line-height: 20px;
}

.pagination button {
  border: 1px solid rgb(195, 193, 193);
  border-radius: 3px;
  font-size: 12px;
  transition: all 300ms ease;
}

.pagination ul li button {
  border-radius: 50%;
  padding: 2px 6px;
}

.pagination button:hover {
  cursor: pointer;
  background: rgb(51, 51, 51);
  color: white;
}
