.sidebar {
  border-right: 1px solid #dadada;
  min-width: 200px;
  font-size: 12px;
  padding: 15px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  margin: 10px 0;
  color: rgb(51, 51, 51);
}

.sidebar ul li a {
  color: rgb(51, 51, 51);
  transition: all 300ms ease;
  text-decoration: none;
  font-weight: 300;
}

.sidebar ul li a:hover,
.actual-category {
  color: rgb(21, 21, 21);
  font-weight: 600;
}
